<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>React Server Components (RSCs) support across frameworks and libraries</title>
  <link rel="icon" type="image/svg+xml" href="/assets/react.svg" />
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <main>
    <header>
      <img src="/assets/react.svg" alt="React Logo" width="72" height="72">
      <h1>Can I use React Server Components (RSCs) today?</h1>
    </header>
    <section>
      <p>There are {{NUM_OF_TEST_CASES}} test cases which are placed into the context of the {{NUM_OF_APPS}} frameworks/libraries.</p>
      <hr />

      <div class="app">
        <div class="grid gap2">
          <div>
            <h2 class="flex-vcentered gap1">
              <img src="assets/nextjs.png" alt="Next.js Logo" class="app-logo">
              Next.js
            </h2>
            <p class="mt05">Probably the most popular React framework</p>
            <div class="result mt3">
              100%
              <small>coverage (12/12)</small>
            </div>
            <div class="mt3">
              <a href="https://nextjs.org/" target="_blank">❯ Official page</a><br />
              <a href="https://nextjs.org/" target="_blank">❯ Test application</a>
            </div>
          </div>
          <div>
            
          </div>
        </div>
      </div>

    </section>
  </main>
</body>
</html>