<div class="app">
  <div class="grid">
    <div>
      <h2 class="flex-vcentered gap1">
        <img src="{{LOGO}}" alt="{{APP}} Logo" class="app-logo">
        {{APP}}
      </h2>
      <p class="mt05">{{DESCRIPTION}}</p>
      <div class="result mt2 op03">
        {{COVERAGE}}%
        <small>coverage ({{COVERAGE_CASES}})</small>
      </div>
      <div class="mt2">
        {{LINKS}}
      </div>
    </div>
    <div class="pl2">
      <ul>
        {{TEST_CASES}}
      </ul>
    </div>
  </div>
</div>