<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>React Server Components (RSCs) support across frameworks and libraries</title>
  <link rel="icon" type="image/svg+xml" href="/assets/react.svg" />
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <main>
    <header>
      <img src="/assets/react.svg" alt="React Logo" width="72" height="72">
      <h1>Can I use React Server Components (RSCs) today?</h1>
    </header>
    <section>
      <div class="grid3 grid2_max900 nogrid_max500">
        {{APPS_GRID}}
      </div>
      <p class="mt2">Test cases: <strong>{{NUM_OF_TEST_CASES}}</strong> | Frameworks/libraries: <strong>{{NUM_OF_APPS}}</strong></p>
      <div class="mt2">
        {{APPS}}
      </div>
    </section>
  </main>
</body>
</html>