body {
  font-family: system-ui, sans-serif;
  background: #424242;
  color: #fff;
  font-size: 18px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
a {
  color: #FFF;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.case {
  font-size: 1rem;
  display: inline-block;
  margin-right: 0.5rem;
}
button, input[type="text"] {
  border: solid 1px #999;
  padding: 0.25rem 0.5rem;
}
button:hover {
  background: #e8e8e8;
  cursor: pointer;
}